body{
    font-family:Verdana;
    font-size : 2em;
}

.center
{
    display:block;
    margin-left:auto;
    margin-right:500px;
    width:30%;
}

.main_text{
    font-size:12px;
    color:#ddd;
    
}

.border_text
{
    border-bottom:6px solid blueviolet;
    border-top:6px solid blueviolet;
    border-left:6px solid blueviolet;
    border-right:6px solid blueviolet;
    border-radius: 60px;

}
#text1
{
    font-size:14px;
    color:#ddd;
    background-color:violet;

}
#text2
{
    font-size:14px;
    color:#ddd;
    background-color:blueviolet;
}
.text_center
{
    
    text-align: center;
}
.button_center
{
    display:block;
    margin-left : auto;
    margin-right: auto;
    width:30%;
}

.gradient_colour
{
    background-image: linear-gradient(to right,rgb(171, 6, 171), rgb(217, 171, 217));

}

.img
{
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:70%;
    border-image:linear-gradient(rgb(183, 187, 221),rgb(10, 9, 36))12;
    border-style:groove;
    width: 500px;
    border-width:4px;
}

